<types namespace="_idio">
  <type name="Config" desc="Options for the program.">
    <prop boolean name="shouldRun" default="true">
      A boolean option.
    </prop>
    <prop string name="text">
      A text to return.
    </prop>
    <prop type="_idio.Test" name="test">
      The test property.
    </prop>
  </type>
</types>